
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Makale</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <style>
        .facebook-renk {
            color: #4267B2;
        }
        .twitter-renk {
            color: #00AAED;
        }
        .instagram-renk {
            color: #C02C8C;
        }
        .linkedin-renk {
            color: #0077B7;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Nesnelerin İnterneti (IOT)</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#">AnaSayfa</a></li>
                       
                        <li><a href="https://github.com/MelisaEceSural">İletişim</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <h1 class="text-center text-danger">Nesnelerin İnterneti</h1>
            <hr class="danger" />
        </div>

        <div class="row">
            <div class="col-md-9">
                <h2 class="text-warning text-center">Makaleler</h2>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="text-danger">Nesnelerin İnterneti Nedir?</h4>
                            </div>
                            <div class="panel-body">
                                Nesnelerin İnterneti (IoT), çevremizdeki fiziksel olayları kontrol
                                etmemizi ve takip ederek analiz etmemizi sağlayan cihaz, yazılım ve erişim
                                hizmetlerini kapsayan bir iletişim ağıdır. Bu fiziksel olaylar, üretim süreçleri,
                                enerji şebekeleri, hasta takip sistemleri, geri dönüşüm süreçleri, taşımacılık, akıllı
                                binalar, alışveriş vs. gibi alanlardaki ölçülebilir büyüklükler veya kontrol
                                sistemleri olabilir. Ayrıca bu ağda bulunan cihazlar ve algılayıcılar insan-makine,
                                makine-makine (M2M) iletişimi kurabilen organizmalardır. Bu organizmaya
                                dâhil olan cihazların ürettiği büyük veriyi analiz etmek ve bu verilerin
                                güvenliğini sağlamak üzerine birçok çalışma bulunmaktadır.
                                <a href="http://www.yeniisfikirleri.net/nesnelerin-interneti-nedir-ornekleri-nelerdir/" class="btn btn-sm btn-danger">Devamını Oku</a>
                            </div>
                            <div class="panel-footer">
                                <span class="label label-warning">ıot</span> &nbsp;
                                <span class="label label-warning">endüstri 4.0</span>&nbsp;
                                <span class="label label-warning">otomasyon</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="text-danger">Endüstri 4.0</h4>
                            </div>
                            <div class="panel-body">
                                Endüstri 4.0 ya da 4. Sanayi Devrimi, birçok çağdaş otomasyon sistemini, veri alışverişlerini ve üretim teknolojilerini içeren kollektif bir terimdir. Bu devrim nesnelerin interneti, internetin hizmetleri ve siber-fiziksel sistemlerden oluşan bir değerler bütünüdür. Aynı zamanda bu yapı akıllı fabrika sisteminin oluşmasında büyük rol oynar. Bu devrim, üretim ortamında her bir verinin toplanmasına ve iyi bir şekilde izlenip analiz edilmesine olanak sağlayacağı için daha verimli iş modelleri ortaya çıkacaktır.
                                <a href="https://www.endustri40.com/endustri-tarihine-kisa-bir-yolculuk/" class="btn btn-sm btn-danger">Devamını Oku</a>
                            </div>
                            <div class="panel-footer">
                                <span class="label label-warning">ıot</span> &nbsp;
                                <span class="label label-warning">endüstri 4.0</span>&nbsp;
                                <span class="label label-warning">otomasyon</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="text-danger">Endüstri 4.0 ve IOT İlişkisi</h4>
                            </div>
                            <div class="panel-body">
                                Nesnelerin Interneti (Internet of Things – IoT) ile nesnelerin de biz insanlar gibi kablolu ya da kablosuz olarak bir ağa erişip birbirleri arasında veri paylaşabileceği yeni bir dünyadan bahsediyoruz. İnsanların internet aracılığı ile birbirine bağlanmasını sağlayan dijital devrim, akıllı telefonların ve cihazların yaygınlaşmasıyla ikinci bir devrime doğru yol alıyor. Bu ikinci devrim ile sosyal yaşamdan endüstriye kadar birçok platformda yeni fırsat ve yatırımlar bizleri bekliyor. Bu devrim Nesnelerin Interneti, Büyük Data üzerinden data analizleri, uzaktan izleme ve mobil çözümler gibi alanlarda ilerleyerek modern üretime çok büyük potansiyel sunuyor. Rockwell Automation’ın ‘The Connected Enterprise’ metodolojisi bu teknolojileri birleştirerek Endüstri 4.0’ı hayata geçirmenizi ve bugünün ve geleceğin market ihtiyaçlarını karşılamada çeviklik sağlayacak daha esnek, sürdürülebilir bir faaliyet göstermenizi sağlıyor.
                                <a href="http://otomasyondergisi.com.tr/arsiv/yazi/93-nesnelerin-interneti-ve-endustri-40-vizyonu/" class="btn btn-sm btn-danger">Devamını Oku</a>
                            </div>
                            <div class="panel-footer">
                                <span class="label label-warning">ıot</span> &nbsp;
                                <span class="label label-warning">endüstri 4.0</span>&nbsp;
                                <span class="label label-warning">otomasyon</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <h2 class="text-warning text-center">Kategoriler</h2>
                <hr />
                <div class="list-group">
                    <a href="https://shiftdelete.net/teknoloji-haberleri" class="list-group-item">Teknoloji</a>
                    <a href="https://www.haberturk.com/saglik" class="list-group-item">Sağlık</a>
                    <a href="https://sondakika.haberler.com/" class="list-group-item">Son Dakika</a>
                    <a href="https://www.dr.com.tr/kategori/kitap" class="list-group-item">Kitaplar</a>
                    <a href="https://www.haberturk.com/kultur-sanat" class="list-group-item">Kültür Sanat</a>
                  
                   
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center col-md-offset-4 ">
                <span  class="fa fa-facebook-official fa-3x facebook-renk "> </span>
                <span class="fa fa-twitter fa-3x twitter-renk"></span>
                <span class="fa fa-instagram fa-3x instagram-renk"></span>
                <span class="fa fa-linkedin fa-3x linkedin-renk"></span>
            </div>
        </div>

    </div>
</body>
</html>
