
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <style>
        .myRenk{
            background-color:azure;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-8 col-xs-12">
                <h2 class="text-danger text-center">Lorem Ipsum Nedir?</h2>
                <hr />
                <p>
                    Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır.
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <h2 class="text-warning">Neden Kullanırız??</h2>
                <hr />
                <p>
                    Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir. Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır.
                </p>
            </div>
            <div class="col-md-4 col-sm-8 col-xs-6">
                <h2 class="text-primary">Nereden Gelir?</h2>
                <hr />
                <p>
                    Yaygın inancın tersine, Lorem Ipsum rastgele sözcüklerden oluşmaz. Kökleri M.Ö. 45 tarihinden bu yana klasik Latin edebiyatına kadar uzanan 2000 yıllık bir geçmişi vardır. Virginia'daki Hampden-Sydney College'dan Latince profesörü Richard McClintock, bir Lorem Ipsum pasajında geçen ve anlaşılması en güç sözcüklerden biri olan 'consectetur' sözcüğünün klasik edebiyattaki örneklerini incelediğinde kesin bir kaynağa ulaşmıştır. Lorm Ipsum, Çiçero tarafından M.Ö. 45 tarihinde kaleme alınan "de Finibus Bonorum et Malorum" (İyi ve Kötünün Uç Sınırları) eserinin 1.10.32 ve 1.10.33 sayılı bölümlerinden gelmektedir.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center text-info">Boşluk Verme</h2>
                <p>Mauris non quam ac nibh viverra ullamcorper. Etiam ac vehicula augue. Praesent consectetur malesuada aliquam. Aenean non luctus mi. Praesent consequat ex at libero luctus volutpat. Vivamus suscipit posuere turpis sed ultrices. Integer nec feugiat quam. Duis ante massa, dapibus nec accumsan ut, laoreet nec ligula. Mauris tellus urna, consequat porta tincidunt vel, accumsan vel velit. Ut in libero in sem rutrum faucibus. </p>
                <a href="~/Home/Makale" class="btn btn-danger btn-lg">Bizim Link</a>
            </div>
        </div>
    </div>
</body>
</html>
